html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#cbd4ff,#c0c7ff,#aeb8ff,#96a2ff,#8189ff);
    text-align: center;
    font-family: "Helvetica, sans-serif"
  }

  .h1{
    font: center;
    margin-bottom: 400px;
    padding:20px;
  }

a {
  color: #000000;
}

/* Main Page */
#map{
    height:600px;
    width:100%;
  }

.hidden{
  display:none;
}

.unhidden{
  display:block;
}

.resize{
  height: 50%;
  width: 50%;
}

/* messageforum*/
.message-name {
  float: left;
}

.message-body {
  clear: left;
}

.placeholder-img {
  height: 300px;
  width: 100%;
  background-color: white;
}